@charset "utf-8";

a{
    text-decoration: none;
    color: #333333;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    background-color:#5e5fff;
    color: #ffffff;
    margin: 10px;
}

.button-wrap{
    display: flex;
    justify-content:center;
}