@charset "utf-8";


.questions{
    display: flex;
    justify-content: center;
    background-color: rgb(157, 163, 255);
    width: 700px;
    margin: 0 auto;
    border-radius: 5px;
    color: #ffffff;
}



a{
    text-decoration: none;
    color: #333333;
}

.answers{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    background-color:#5e5fff;
    color: #ffffff;
    margin: 10px;
    transition: 0.3s;
}

.button-wrap{
    display: flex;
    justify-content:center;
}

    .answers:hover{
        opacity: 0.7;
    }
